workflow.json
{
  "name": "AI Salon Business Assistant",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "options": {
          "title": "Salon Business Assistant",
          "subtitle": "Ask me about appointments, revenue, staff, and customers"
        }
      },
      "id": "chat-trigger-1",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [-400, 0],
      "webhookId": "salon-assistant-chat"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "question",
              "type": "string",
              "value": "={{ $json.chatInput.trim() }}"
            },
            {
              "name": "sessionId",
              "type": "string",
              "value": "={{ $json.sessionId }}"
            },
            {
              "name": "askedAt",
              "type": "string",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "preprocess-1",
      "name": "Preprocess Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-160, 0]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "SYSTEM:\nYou are the AI Business Assistant for a salon chain. You answer manager questions about appointments, revenue, employees, customers, and products by querying a MySQL database.\n\nDATABASE SCHEMA:\n- branches(branch_id, name, city)\n- employees(employee_id, name, branch_id, role, hire_date)\n- customers(customer_id, name, phone, join_date, branch_id)\n- services(service_id, name, price, duration_minutes)\n- products(product_id, name, category, price)\n- appointments(appointment_id, customer_id, employee_id, branch_id, service_id, appointment_date, appointment_time, status['Completed'|'Cancelled'|'No-show'|'Booked'], amount)\n- product_sales(sale_id, appointment_id, customer_id, employee_id, branch_id, product_id, sale_date, quantity, amount)\n- vw_transactions(transaction_id, type['appointment'|'product_sale'], customer_id, employee_id, branch_id, item_id, transaction_date, amount) -- use this view for any revenue/sales question, it already combines completed appointments + product sales.\n\nRULES:\n- Use the SQL tool for any question requiring real data. Never invent numbers.\n- Only ever generate SELECT statements. Never write INSERT, UPDATE, DELETE, DROP, ALTER, TRUNCATE, or GRANT statements under any circumstances.\n- Use vw_transactions for revenue/sales aggregation questions; use appointments directly only for questions about appointment counts/status, not revenue.\n- \"Today\"/\"yesterday\"/\"this month\"/\"last week\" are relative to the database's current date -- use MySQL date functions (CURDATE(), DATE_SUB(CURDATE(), INTERVAL n DAY), DATE_FORMAT(col,'%Y-%m'), etc.), never hardcode a date.\n- This database runs in MySQL's default ONLY_FULL_GROUP_BY mode: every non-aggregated column in the SELECT list must also appear in GROUP BY (e.g. GROUP BY e.employee_id, e.name).\n- If a query returns no rows, say so plainly instead of guessing.\n- If the question is ambiguous (e.g. \"best employee\" could mean revenue or appointment count), state the assumption you're using in your answer.\n- If the question is unrelated to the salon's business data, politely say you can only answer questions about salon appointments, revenue, employees, customers, and products.\n- Keep answers concise: lead with the direct answer, then one short supporting sentence if useful.\n\nOUTPUT FORMAT:\nPlain natural-language sentence(s) for the chat user. No markdown tables, no JSON -- this is a conversational answer, not a data export."
        },
        "promptType": "define",
        "text": "={{ $json.question }}"
      },
      "id": "agent-1",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [80, 0]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "gemini-1",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [40, 220],
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Google Gemini account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Preprocess Input').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "memory-1",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [180, 220]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $fromAI(\"query\", \"A single SELECT-only SQL statement to run against the salon database schema described in the system prompt. Never use INSERT, UPDATE, DELETE, DROP, ALTER, TRUNCATE, or GRANT.\", \"string\") }}",
        "options": {}
      },
      "id": "sql-tool-1",
      "name": "Salon DB Query Tool",
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 1,
      "position": [320, 220],
      "credentials": {
        "mySql": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Salon MySQL (read-only)"
        }
      },
      "notes": "Point this credential at salon-mysql:3306, database 'salon'. Use a read-only DB user (see DESIGN.md section 6), not the root/app user."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.output }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "validate-1",
      "name": "Validate Answer",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [340, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "output",
              "type": "string",
              "value": "Sorry, I couldn't find an answer to that. Could you rephrase the question?"
            }
          ]
        },
        "options": {}
      },
      "id": "fallback-1",
      "name": "Fallback Answer",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [560, 120]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [[{ "node": "Preprocess Input", "type": "main", "index": 0 }]]
    },
    "Preprocess Input": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Window Buffer Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "Salon DB Query Tool": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Validate Answer", "type": "main", "index": 0 }]]
    },
    "Validate Answer": {
      "main": [
        [],
        [{ "node": "Fallback Answer", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "notes": "IMPORT NOTE: node type strings/versions (typeVersion) were written from documented n8n patterns without live schema verification, since the MCP connector to this instance isn't working. Confirmed via direct testing that this n8n instance has no SQLite node at all (neither regular nor AI-tool variant) -- migrated to MySQL Tool instead, which IS natively available. Use mysql_init.sql to seed a MySQL container (see updated docker-compose.yml), and create a read-only DB user for the credential on this tool node. After importing, n8n will flag any node it doesn't recognize in red -- if that happens, delete just that node and re-add the equivalent one from the node panel, then reconnect."
}
